.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px;
  box-shadow:0 5px 15px 0 rgb(167 190 255 / 10%), inset 0 5px 15px 0 rgb(167 190 255 / 20%);
}

.custom-input {
  padding: 1rem 0 1rem 0;
  border-radius: 26px;
  box-shadow: 0 5px 15px 0 rgb(167 190 255 / 10%), inset 0 5px 15px 0 rgb(167 190 255 / 20%);
  border: 1px solid #dee2e6;
  outline: none;
  text-align: center;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  opacity: .7;
}
.red_error{
  color: red;
  width: 100%;
}

.flex_dir_end{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.btn-blue-gradient{
  width: 50%;
  color: #fff;
  border-radius: 26px;
  font-size: 13px;
  box-shadow: 0 4px 6px 0 rgb(167 190 255 / 70%);
  background-image: linear-gradient(90deg,#1b84e7,#1515af);
  border: 0;
  overflow: visible;
  padding: 1rem 0 1rem 0;
  margin-top: 10px;
  align-self: end;/*this one couldnt work ?? */
}

.btn-white-gradient{
  width: 50%;
  color: #fff;
  border-radius: 26px;
  font-size: 13px;
  box-shadow: 0 4px 6px 0 rgb(167 190 255 / 70%);
  background-image: linear-gradient(90deg,#9ac6f0,#9d9dcf);
  border: 0;
  overflow: visible;
  padding: 1rem 0 1rem 0;
  margin-top: 10px;
}
.datepicker{
  padding: 1rem 0 1rem 0;
  border-radius: 26px;
  box-shadow: 0 5px 15px 0 rgb(167 190 255 / 10%), inset 0 5px 15px 0 rgb(167 190 255 / 20%);
  border: 1px solid #dee2e6;
  outline: none;
  text-align: center;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
  width: 100%;
  margin-top: 10px;
  position: relative;
}
